<h1 class="text-center mt-5">Avaiable Offers</h1>
<div class="container">
    <% if(offers){ %>
    <% offers.forEach((data)=>{ %>
        <form action="/offers" method="POST">
    <div class="card mt-4 p-2 text-center">
    
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Departure:</h5><input type="text" name="" value="<%= data.departure %>" disabled>
            <% console.log(data.departure) %>
        </div>
       
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Arrival:</h5><input type="text" name="" value="<%= data.arrival %>" disabled>
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Price:</h5><input type="text" name="" value="<%= data.price %>" disabled>
            <input type="hidden" name="price" value="<%= data.price %>">
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Departure hour:</h5><input type="text" name="" value="<%= data.dhour %>" disabled>
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Arrival hour:</h5><input type="text" name="" value="<%= data.ahour %>" disabled>
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Available passenger:</h5><input type="text" name="" value="<%= data.passengers %>" disabled>
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Airport:</h5><input type="text" name="" value="<%= data.airport %>" disabled>
        </div>
        <div class="d-flex justify-content-between p-2 col-12 mx-auto">
            <h5>Date:</h5><input type="text" name="" value="<%= data.date %>" disabled>
        </div>
        
        <div class="container">
            
            <input type="hidden" name="offerId" value="<%= data.ofId %>">
            <% if(data.passengers < numberOfPassengers){ %>
            <button type="submit" class="btn btn-primary mt-3 col-6" disabled>Checkout</button>
            <% }else{ %>
            <button type="submit" class="btn btn-primary mt-3 col-6">Checkout</button>
            <% } %>
        </div>
    </form>
    </div>
    <% }) %>
    <% } %> 
    
        
</div>